@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.woff2") format("woff2");
}
@font-face {
  font-family: "VazirMedium";
  src: url("../fonts/Vazir-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "VazirBold";
  src: url("../fonts/Vazir-Bold.woff2") format("woff2");
}
